body {
    font-family: Arial, sans-serif; !important;
    text-align: center;
    margin-top: 50px;
}
#title {
    font-size: 24px;
    color: green;
    margin-bottom: 5px;
}
#title.error {
    color: red;
}
#container{
    display: block;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #f0f0f0, #dcdcdc); /* Gradient background */
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    visibility: hidden;
    transition: box-shadow 0.3s ease;
    margin: 0 auto;
    max-width: 300px;
}
#otherschoolcheak{
    display: block;
    visibility: hidden;
    margin: 5px;
}
#schoolnameinput {
    padding: 3px 9px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin: 3px;
}

button {
    border-radius: 20px;
    background: linear-gradient(to bottom, #f0f0f0, #dcdcdc);
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    margin-right: 2px;
}

#dateinput {
    margin: 6px auto;
    padding: 3px 10px;
    border-radius: 5px;
    border-color: #f0f0f0;
    background: linear-gradient(to bottom, #f0f0f0, #dcdcdc);
}
#schoolList{
    visibility: hidden;
    display: block;
    padding: 20px;
}
#schoolSelect{
    display: block;
    border-radius: 3px;
}
/* Specific button colors */
button.areum-hi {
    background: linear-gradient(to bottom right, #32cdcd, #00fff7);
}
button.areum-mi {
    background: linear-gradient(to bottom, #0018ff, #318ed8);
    color: #f0f0f0;
}
button.tanbang-mi {
    background: linear-gradient(to bottom, yellow, limegreen);
}
button.industrial-mi {
    background: linear-gradient(to bottom, #0b00da, #ffffff);
}
button.eoeun-mi {
    background: linear-gradient(to bottom, #ff0000, #ff00ff);
}

button:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.hidden {
    display: none;
}


.displayOnly {
visibility: hidden; !important;
    display: none; !important;
}